html,body {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
.link_container{
  width: 30rem;
  background-color: #ffc;  
  overflow-y: scroll;
}
.links{
	column-count: 3;
}
.command_container{
   overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
	flex: 1;
}
.commands{
	
}
.context{column-count: 4;}
h1{display: inline-block;}
h2{
	font-size: 1em;
	display: inline-block;
}
 
ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0
}

pre{
  overflow: hidden
}
p { 
display: flex;
border: solid black;
margin: 0 0 0 0
  
}
blockquote{
  padding: 0 0 0 0;
  margin: unset
}

p > * {
  flex: 1;
  /*! margin: 0 0 0 0; */
  align-content: ;
}

li {
  list-style:none
  
}

li > p {
  border: none;
  overflow: hidden;
  display: block
    
} 

p:nth-child(2n){
  background-color:lightgrey
    
}



